.addRecords {
  background-image: url('addBackground.jpg');
  background-size: cover;
  background-position: center;
}

#searchRecords {
  background-image: url('searchBackground.png');
  background-size: cover;
}